{
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "plugin:mocha/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {}
}
