{
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "plugin:mocha/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "curly": [
      "error",
      "all"
    ],
    "object-curly-newline": [
      "error",
      {
        "minProperties": 1
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ]
  }
}
